{% extends 'base.html' %}

{% block form %}

{% if current_user.get_team_id() == 'None' %}

<form class="form-block" method="post">
    {{ form.csrf_token }}
    <div class="form-group">
        {{ form.team_name.label }}
        {{ form.team_name }}
    </div>
    <div class="form-group">
        {{ form.password.label }}
        {{ form.password }}
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <p class='flash'>{{ message }}</p>
    {% endfor %}
    {% endif %}
    {% endwith %}

    <div class="buttons-group buttons-group-right">
        <button type="submit">Присоединиться</button>
    </div>
</form>
{% else %}

<p>Ты уже состоишь в команде {{ current_user.get_team_name() }}!</p>

{% endif %}
{% endblock %}

